<h1>Move Title</h1>
<div>
  <label><b>Plot:</b></label>
  <p>lorem ipsum.......</p>
  <label><b>Cast & Crew:</b></label>
  <div>person 1, person 2, person 3</div><br>
  <label><b>Genre:</b></label>
  <div>Comedy</div><br>
  <label><b>Release Date:</b></label>
  <div>04/23/2007</div><br>
  <label><b>Language:</b></label>
  <div>English</div><br>
  <label><b>Collective Rating (out of 5):</b></label>
  <div>4</div><br>
</div>
<div>
  <mat-form-field class="example-full-width" id="commentBox">
    <label><b>Leave a Comment:</b></label><br>
    <textarea matInput rows="4" cols="40"></textarea>
  </mat-form-field>
</div>
<div>
  <label><b>Leave a Rating:</b></label><br>

</div>
