#movieTitle, #movieInfo, #comments, .rating{
  text-align: center;
  font-family: 'Avenir';
}

.btn{
  background-color: black;
  color: white;
}

.hide {
  display: none;
}

.clear {
  float: none;
  clear: both;
}

.rating {
  width: 560px;
  unicode-bidi: bidi-override;
  position: relative;
  text-align: center;
}

.rating > label {
  float: right;
  display: inline;
  padding: 0;
  margin: 0;
  position: relative;
  width: 1.1em;
  cursor: pointer;
  color: black;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
  display: inline-block;
  color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
  content: "\2605";
  position: absolute;
  left: 0;
  color: gold;
}

#ratingHeader{
  color: gold;
  font-family: 'Avenir';
  padding-left: 485px;
}

#movieImage{
height: 300px;
}
