<app-navbar></app-navbar>
<h1 id="dashboardHeader">Find A Movie!</h1>
<div id="searchBar">
  <form class="form-inline waves-light" mdbWavesEffect>
    <div class="md-form mt-0">
      <input class="form-control mr-sm-2" type="text" id="searchInput" name="searchQuery" [(ngModel)]='searchQuery' placeholder="Search by title or genre"><br>
    </div>
  </form>
</div><br>
<div class="container" id="dashboard">
  <div class="container-fluid">
    <div class="row row-cols-md-3">
      <div class="col mb-4" *ngFor="let movie of movies|filter:searchQuery">
      <mat-card class="column">
        <a routerLink ="/movie/{{movie.id}}">
        <mat-card-title id="movieTitle">{{movie.title}}</mat-card-title>
        <img mat-card-lg-image id="movieImage" class="center" [src]="movie.image" width="300" height="200"><br>
          <mat-card-content id="movieGenre">Genre: {{movie.genre}} </mat-card-content>
        <mat-card-content id="movieRating">Overall Rating: {{movie.collectiveRating}} </mat-card-content>
        </a>
      </mat-card>
      </div>
    </div>
  </div>
</div>
