#dashboardHeader{
  text-align: center;
  font-family: 'Avenir';
}

#movieTitle{
  text-align: center;
  font-family: 'Avenir';
  font-size: 20px;
}
#movieRating, #movieGenre, #movieImage{
  text-align: center;
  font-size: 15px;
  font-family: 'Avenir';
}

#searchBar{
  position: absolute;
  right: 20px;
  width: 300px;
  padding: 10px;
}

#dashboard{
  padding-top: 50px;
}

#searchInput{
  font-family: 'Avenir';
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
