.hide {
  display: none;
}

.clear {
  float: none;
  clear: both;
}

.ratingModal {
  width: 80px;
  unicode-bidi: bidi-override;
  position: relative;
  text-align: center;
}

.ratingModal > label {
  float: right;
  display: inline;
  padding: 0;
  margin: 0;
  position: relative;
  width: 1.1em;
  cursor: pointer;
  color: black;
}

.ratingModal > label:hover,
.ratingModal > label:hover ~ label,
.ratingModal > input.radio-btn:checked ~ label {
  display: inline-block;
  color: transparent;
}

.ratingModal > label:hover:before,
.ratingModal > label:hover ~ label:before,
.ratingModal > input.radio-btn:checked ~ label:before,
.ratingModal > input.radio-btn:checked ~ label:before {
  content: "\2605";
  position: absolute;
  left: 0;
  color: gold;
}

#ratingHeader{
  color: gold;
}

.close{
  font-family: 'Avenir';
  font-size: 15px;
}

.btn{
  background-color: black;
  color: white;
}

.modal-title, form, .modal-header{
  font-family: 'Avenir';
  background-color: whitesmoke;
}
